<%= render "shared/header" %>

<%= form_with model: @membership, id: 'charge-form', class: 'transaction-form-wrap',local: true do |f| %>
  <div class='shipping-address-form'>
    <h1 class='info-input-haedline'>
      会員情報登録
    </h1>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">自己紹介</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_area :appeal, class:"input-default", id:"postal-code", placeholder:"例）Furima歴5年の専業主婦です。交渉応じます！", maxlength:"500" %>
  </div>
    <%= render "orders/address_form", f: f %>
  </div>
  <div class='buy-btn'>
    <%= f.submit "登録" ,class:"buy-red-btn" %>
  </div>
<% end %>

<%= render "shared/footer" %>